.buttonsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.button{
  width: 45px;
  height: 45px;
  margin: 3px;
  border-radius: 50%;
  background-color: rgba(0, 0, 255, 0.411);
}
.button:hover{
  background-color: rgba(255, 225, 0, 0.805);
}